*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#070707;
color:#fff;
line-height:1.6;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
position:sticky;
top:0;
}

.navbar a{
color:white;
margin-left:20px;
text-decoration:none;
transition:.3s;
}

.navbar a:hover{
color:#00ffd5;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
}

.section{
padding:70px 60px;
}

.card{
background:#111;
padding:25px;
border-radius:12px;
margin-top:20px;
}

.skill{
margin-top:20px;
}

.bar{
height:8px;
background:#222;
border-radius:10px;
margin-top:6px;
}

.bar div{
height:100%;
background:#00ffd5;
border-radius:10px;
}

.contact{
text-align:center;
}
